body {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header*/
.header {
    padding: 10px 30px;
    background-color: #660708;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.a__header {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.a__header-titulo {
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
}

.a__header-nav {
    color: black;
    font-size: 20px;
    transition: all .3s linear;
}
    .a__header-nav:hover {
        color: white;
    }

.ul__navegation {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .li__navegation {
        display: inline-block;
        border-radius: 8px;
        transition: all .3s linear;
        margin: 0 10px;
    }
    
        .li__navegation:hover {
            background-color: #A4161A;
        }


/*Main*/
.main {
    background-color: #232A2F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 350px;
}

    .h1__main {
        font-size: 190px;
        color: white;
        margin: 0;
        transition: .3s ease-in;
    }
        .h1__main:hover {
            text-shadow: 8px 10px #000;
            font-size: 210px;
        }

.img__main-container {
    background-color: yellow;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    
    position: relative;
    bottom: 100px;
}
    .img__main {
        width: 200px;
        height: 200px;
    }
/*Fotter*/
.footer {
    background-color: tomato;
    display: flex;
    flex-direction: column-reverse;
}